{% extends 'base.html' %}
{% block content %}
<h2>登入</h2>
<form method="post" class="mb-3">
    <div class="mb-2">
        <label class="form-label">帳號：</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-2">
        <label class="form-label">密碼：</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">登入</button>
</form>
<a href="/register" class="btn btn-link">沒有帳號？註冊</a>
{% endblock %}