{% extends 'base.html' %}
{% block content %}
<h2>註冊</h2>
<form method="post" class="mb-3">
    <div class="mb-2">
        <label class="form-label">Gmail：</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-2">
        <label class="form-label">密碼：</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">註冊</button>
</form>
<a href="/register" class="btn btn-link">沒有帳號？註冊</a>

<p>若Gmail填寫錯誤您可能無法收到訂單通知</p>

{% endblock %}